*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0px;
padding: 0px;
}


/*

LARGE


*/



@media (min-width: 550px) {
    .container {
      width: 1400px;
    }
 

   body {
    font-family: "Lexend", sans-serif;
    display: flex;
    flex-direction: column;
  }
  
/*header et nav*/

.barretop{
    height: 70px;
    margin-top: 0;
  }
  nav{
    display: flex;
    justify-content: space-between;
    background-color:rgba(32, 26, 26, 0.9);
    height: 70px; 
    width: 100%;
    position: fixed;
    
    margin-top: 0;
  }
  
  button.btn {

    
  
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 10px;
    color: #000000;
   font-weight: bold;
    border-radius: 50px;
    background-color: rgb(235, 128, 101);
    border: 1px solid transparent;
   
    
    
  }
  
  button.btn:hover {
    background-color: rgb(231, 106, 44);
  }
  
  .btn:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  ul {
    display: flex;
    justify-content: flex-end;
    
    list-style: none;
    margin-right: 5px;

  }
  
  a {
    font-size: 1.2em;
    font-weight: bold;
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: 22px 16px;
  }


  #logo img{
    width: 60px;
    height: 60px;
    margin-top: -18px;
    margin-left: -10px;
    position: absolute;
    z-index: 99;
}

section{
  height: 100vh;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin: 50px 0;
}
.sec-container{
  border: #000000;
}

.form-wrapper{
  

  width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex:auto;
  background: rgba(47, 117, 76, 0.5);
  backdrop-filter: blur(10px);
  height: 100vh;
 opacity: 0;
 z-index: 90;

  right: -600px;
  transition: .4s;
  pointer-events: none;
}



.form-wrapper.show{
  pointer-events: auto;
  position: fixed;
 top: 0;
  right: 0;
  opacity: 1;
 

}

.card-header{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin: 30px 20x 0;
  font-size: 2rem;
  color: #fffefe;
  text-transform: uppercase;

  border-radius: 50px;

}
.card-header .form-header{
  flex: 50%;
  text-align: center;
  padding: 10px 0;
  
  user-select: none;
  cursor: pointer;

}



.card-body{
  display:flex;
  flex-wrap: nowrap;
  padding: 40px 0;
  text-align: center;
  
}

form{
  flex: 0 0 100%;


}

.form-control
{
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(134 255 245/65%);
  background: none;
  outline:none;
  padding: 10px 5px;
  margin-bottom: 20px;
  color: azure;

}

.form-control::placeholder{
  color: rgb(134 255 245/65%);
}

.formButton{
  border: 1px solid transparent;
  padding: 1rem 6rem;
  background-color: rgb(234, 141, 127);
  border-radius: 50px;
  margin-top: 0.5rem;
  font-size: 1rem;
  transition: transform .3s, box-shadow .3s;
 
}

.formButton:hover{
  box-shadow: 3px 5px 115px #de820b;
  transform: translateY(-5px);
}






/*banniere et titre */
main{
  height: 100%;
  display: flex;
  flex-direction:column;
  width: 100%;

  min-height: 100vh;
  

  background-image: url(images/banniere5.jpg);

  background-size:cover;

  background-position:center;

}



.titre{
  pointer-events: none;
margin-top: 2%;
margin-left:20%;
display:flex;
justify-content:center;
align-items:center;
align-content: center;


padding:5%;

}

h3{

  pointer-events: none;
  backdrop-filter: blur(3px);
  text-shadow: 1px 1px 2px pink;
  color:red;
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  pointer-events: none;
  text-shadow: 1px 1px 2px rgb(100, 35, 46);
  /*backdrop-filter: blur(10px);*/
border-radius: 50%;
  color:white;
  font-weight: bold;
  font-size: 5em;
}

.coeur img{
  pointer-events: none;
  margin-left: 20px;
  width: 80px;
  height: 80px;
  opacity: 0.6;
}


/**/
  #loremipsum{
    height: 40vh;
    background: linear-gradient(309deg, #dd0d45, #471d1a, #221110, #eb1d11);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    -o-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:24% 0%}
    50%{background-position:77% 100%}
    100%{background-position:24% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:24% 0%}
    50%{background-position:77% 100%}
    100%{background-position:24% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:24% 0%}
    50%{background-position:77% 100%}
    100%{background-position:24% 0%}
}
@keyframes AnimationName {
    0%{background-position:24% 0%}
    50%{background-position:77% 100%}
    100%{background-position:24% 0%}
}

  #loremipsum p{
    
max-height: 200px;
    overflow:auto;
    text-overflow: ellipsis; 
  padding-top: 52px;
  padding-left: 52px;
  padding-right: 52px;
    
    width: 100%;
    color: whitesmoke;
    text-align: justify;
    font-size: 1.6em;
   
    font-family: Marck script;
    font-weight: lighter;
  }
}
/*#loremipsumbis{
  
    top: 1017px;
    background: linear-gradient(white, grey);
    color: rgb(0, 0, 0);
    font-size:1.5em;
    padding: 46px;
    width: 100%;
    padding-bottom: 35px;
}

#loremipsumbis p{
    text-align: center;
    font-family: monospace;
}







MEDIUM









*/
@media (max-width: 960px) {
  .container {
    width: 950px;
  }


 body {
  font-family: "Lexend", sans-serif;
  display: flex;
  flex-direction: column;
}

/*header et nav*/

.barretop{
  height: 70px;
  margin-top: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  background-color:rgba(32, 26, 26, 0.9);
  height: 70px; 
  width: 100%;
  position: fixed;
 
  margin-top: 0;
}

button.btn {
  width:100px;
        position: absolute;
        padding: 5px 5px;
        font-size: 0.8em;
        margin-top: 17px;
        margin-right: 25px;
       
        color: #000000;
       font-weight: bold;
        border-radius: 50px;
        background-color: rgb(235, 128, 101);
        border: 1px solid transparent;
       
        
        
      }

button.btn:hover {
  background-color: rgb(231, 106, 44);
}

.btn:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

ul {
  display: flex;
  justify-content: flex-end;
  
  list-style: none;
  margin-right: 102px;
  padding: 0;
}

a {
  font-weight: bold;
  color:white;
  text-decoration: none;
  display: inline-block;
  padding: 20px 16px;
}


#logo img{
  width: 50px;
  height: 50px;
  margin-top:-10px;
  margin-left: -10px;
}

section{
height: 100vh;
display: flex;
justify-content:flex-end;
align-items: center;
margin: 50px 0;
}
.sec-container{
border: #000000;
}

.form-wrapper{
position: absolute;

width: 460px;
display: flex;
justify-content: center;
align-items: center;
flex:auto;
background: rgba(47, 117, 76, 0.5);
backdrop-filter: blur(10px);
height: 100vh;

z-index: 90;

right: -600px;
transition: .4s;
}

.form-wrapper.show #logo img{
  width: 35px;
  height: 35px;
  margin-top: -73px;
  margin-left: -6px;
  position: absolute;
  z-index: 99;
  opacity: 0;
}

.form-wrapper.show{

position: fixed;
top: 0;
right: 0;


}

.card-header{
display: flex;
justify-content:space-evenly;
align-items: center;
margin: 30px 20x 0;
font-size: 2rem;
color: #fffefe;
text-transform: uppercase;

border-radius: 50px;

}
.card-header .form-header{
flex: 50%;
text-align: center;
padding: 10px 0;

user-select: none;
cursor: pointer;

}



.card-body{
display:flex;
flex-wrap: nowrap;
padding: 40px 0;
text-align: center;

}

form{
flex: 0 0 100%;


}

.form-control
{
width: 100%;
border: none;
border-bottom: 1px solid rgb(134 255 245/65%);
background: none;
outline:none;
padding: 10px 5px;
margin-bottom: 20px;
color: azure;

}

.form-control::placeholder{
color: rgb(134 255 245/65%);
}

.formButton{
border: 1px solid transparent;
padding: 1rem 6rem;
background-color: rgb(234, 141, 127);
border-radius: 50px;
margin-top: 0.5rem;
font-size: 1rem;
transition: transform .3s, box-shadow .3s;

}

.formButton:hover{
box-shadow: 3px 5px 115px #de820b;
transform: translateY(-5px);
}






/*banniere et titre */
main{
  height: 20%;
  display: flex;
  flex-direction:column;
  width: 100%;

  min-height: 100vh;
  

  background-image: url(images/banniere5.jpg);

  background-size:cover;

 

}



.titre{

margin-top: 2%;
margin-left:20%;
display:flex;
justify-content:center;
align-items:center;
align-content: center;


padding:5%;

}

h3{
  backdrop-filter: blur(3px);
  text-shadow: 1px 1px 2px pink;
  color:red;
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  text-shadow: 1px 1px 2px rgb(100, 35, 46);
  /*backdrop-filter: blur(10px);*/
border-radius: 50%;
  color:white;
  font-weight: bold;
  font-size: 4em;
}

.coeur img{
  margin-left: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.6;
}

/**/
#loremipsum{
  height: 40vh;
  background: linear-gradient(309deg, #dd0d45, #471d1a, #221110, #eb1d11);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  -o-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}
@keyframes AnimationName {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}



#loremipsum p{

  overflow: hidden;
  white-space: nowrap;
  
  text-overflow: ellipsis; 
  text-overflow: ellipsis; 
  max-height: 200px;
 padding-left: 52px;
 padding-right: 52px;
  
  width: 100%;
  color: whitesmoke;
  text-align: justify;
  font-size: 1.3em;
  
  font-family: Marck script;
  font-weight: light;
}
}
/*#loremipsumbis{

  top: 1017px;
  background: linear-gradient(white, grey);
  color: rgb(0, 0, 0);
  font-size:1.5em;
  padding: 46px;
  width: 100%;
  padding-bottom: 35px;
}

#loremipsumbis p{
  text-align: center;
  font-family: monospace;
}

VERY SMALL

*/

@media (max-width: 550px) {
  .container {
    min-width: 550px;
  }


 body {
  font-family: "Lexend", sans-serif;
  display: flex;
  flex-direction: column;
}

/*header et nav*/

.barretop{
  height: 50px;
  margin-top: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  background-color:rgba(32, 26, 26, 0.9);
  height: 50px; 
  width: 100%;
  position: fixed;

  margin-top: 0;
}

button.btn {
width: 80px;
  position: absolute;
  padding: 5px 2px;
  font-size: 0.6rem;
  margin-top: 12px;
  margin-right: 0px;
  margin-left: 15px;
  color: #000000;
 font-weight: bold;
  border-radius: 50px;
  background-color: rgb(235, 128, 101);
  border: 1px solid transparent;

  
  
}

button.btn:hover {
  background-color: rgb(231, 106, 44);
}

.btn:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

ul {
  display: flex;
  justify-content: flex-end;
  font-size: 0.7em;
  list-style: none;
  margin-right: 125px;
 
  padding: 0;
}

a {
  font-weight: bold;
  color:white;
  text-decoration: none;
  display: inline-block;
  padding: 17px 10px;
}



#logo img{
  width: 35px;
  height: 35px;
  margin-top: -10px;
  margin-left: -6px;
  position: absolute;
  z-index: 99;
}

section{
height: 100vh;
display: flex;
justify-content:flex-end;
align-items: center;
margin: 50px 0;
}
.sec-container{
border: #000000;
}

.form-wrapper{
position: absolute;

width: 433px;
display: flex;
justify-content: center;
align-items: center;
flex:auto;
background: rgba(47, 117, 76, 0.5);
backdrop-filter: blur(10px);
height: 100vh;

z-index: 90;

right: -600px;
transition: .4s;
}



.form-wrapper.show{

position: fixed;
top: 0;
right: 0;


}




.card-header{
display: flex;
justify-content:space-evenly;
align-items: center;
margin: 30px 20x 0;
font-size: 1em;
color: #fffefe;
text-transform: uppercase;

border-radius: 50px;

}
.card-header .form-header{
flex: 50%;
text-align: center;
padding: 10px 0;

user-select: none;
cursor: pointer;

}



.card-body{
display:flex;
flex-wrap: nowrap;
padding: 40px 0;
text-align: center;

}

form{
flex: 0 0 100%;


}

.form-control
{
width: 100%;
border: none;
border-bottom: 1px solid rgb(134 255 245/65%);
background: none;
outline:none;
padding: 10px 5px;
margin-bottom: 20px;
color: azure;

}

.form-control::placeholder{
color: rgb(134 255 245/65%);
}

.formButton{
border: 1px solid transparent;
padding: 1rem 6rem;
background-color: rgb(234, 141, 127);
border-radius: 50px;
margin-top: 0.5rem;
font-size: 1rem;
transition: transform .3s, box-shadow .3s;

}

.formButton:hover{
box-shadow: 3px 5px 115px #de820b;
transform: translateY(-5px);
}






/*banniere et titre */
main{
  display: flex;
  flex-direction:column;
  width: 100%;
  height: 20%;

  min-width:335px ;


  background-image: url(images/banniere5.jpg);
  
  background-size:cover;
  background-position:right 42% bottom 25%;
 

}



.titre{

margin-top: 2%;
margin-left:20%;
display:flex;
justify-content:center;
align-items:center;
align-content: center;


padding:5%;

}

h3{
  backdrop-filter: blur(3px);
  text-shadow: 1px 1px 2px pink;
  color:red;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: -60px;
}
h2{
  text-shadow: 1px 1px 2px rgb(100, 35, 46);
  /*backdrop-filter: blur(10px);*/
border-radius: 50%;
  color:white;
  font-weight: bold;
  font-size: 2em;
  margin-right: 0px;
}

.coeur img{
  margin-right: 28px;
  width: 40px;
  height: 40px;
  opacity: 0.6;
}

/**/
#loremipsum{
 
  height: 40vh;
  background: linear-gradient(309deg, #dd0d45, #471d1a, #221110, #eb1d11);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  -o-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}
@keyframes AnimationName {
  0%{background-position:24% 0%}
  50%{background-position:77% 100%}
  100%{background-position:24% 0%}
}

#loremipsum p{
  overflow: hidden;
  white-space: nowrap;
  
  text-overflow: ellipsis; 
  height: 100px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
  width: 100%;
  color: whitesmoke;
  text-align: justify;
  font-size: 1.4em;
  .marck-script-regular {
    font-family: "Marck Script", cursive;
    font-weight: lighter;
    font-style: normal;
  }
}
}
/*#loremipsumbis{

  top: 1017px;
  background: linear-gradient(white, grey);
  color: rgb(0, 0, 0);
  font-size:1.5em;
  padding: 46px;
  width: 100%;
  padding-bottom: 35px;
}

#loremipsumbis p{
  text-align: center;
  font-family: monospace;
}
*/

footer{
  color: #e6e6e7;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  background-color:rgba(32, 26, 26, 0.858);
  height: 5vh;
  font-size: 10px;
  
}
